/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--color-white);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid var(--color-primary);
  border-radius: 50%;
  -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding-top: 20px;
  padding-bottom: 0px;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.section-header p {
  margin: 0 auto;
  color: var(--color-secondary-light);
}

@media (min-width: 1280px) {
  .section-header p {
    max-width: 80%;
    margin-bottom: 1em;
  }
}

@media (max-width: 425px) {
  section {
    padding-top: 20px;
  }

  .section-header {
    padding-bottom: 0px;
  }

  .section-header h2 {
    font-size: 45px;
  }

  .section-header p {
    margin-bottom: 1rem;
    text-align: justify;
    padding: 5px;
  }
}

@media (max-width: 1024px) {
  section {
    padding-top: 20px;
  }

  .section-header {
    padding-bottom: 0px;
  }

  .section-header h2 {
    font-size: 45px;
  }

  .section-header p {
    margin-bottom: 1rem;
    text-align: justify;
    padding: 5px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: rgba(var(--color-secondary-rgb), 0.05);
  min-height: 40px;
  margin-top: 76px;
}

.breadcrumbs h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-secondary-light);
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 995;
  background: #55a67b;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-white);
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(85, 166, 123, 0.85);
  color: var(--color-white);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Notification Bar
--------------------------------------------------------------*/
#notification-bar {
  font-family: var(--font-default);
  width: 100%;
  margin: 0;
  height: 30px;
  display: table;
  font-size: 17px;
  padding: .33em .5em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  position: static;
  background-color: #1A654C;
}

#notification-bar .regular {
  height: 30px;
  font-size: 14px;
  padding: .2em .5em;
}

.nb-content-wrapper {
  text-align: center;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.nb-content-wrapper p {
  margin-top: 0;
  margin-bottom: 0;
}

.nb-text-wrapper {
  margin-right: .67em;
  display: inline-block;
  line-height: 1.3;
}

.nb-text-wrapper .nb-headline-text {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.nb-close-wrapper {
  display: table-cell;
  width: 1.6em;
}

.nb-close-wrapper .icon-close i {
  font-size: 14px;
  top: 13px;
  right: 15px;
  width: 30px;
  height: 15px;
  color: #000;
  cursor: pointer;
  position: absolute;
  text-align: center;
  line-height: 15px;
  z-index: 1000;
  text-decoration: none;
}

@media (max-width: 425px) {
  .nb-text-wrapper .nb-headline-text {
    font-size: 12px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header.sticked {
  background: var(--color-white);
  box-shadow: 0px 2px 20px rgba(var(--color-secondary-rgb), 0.1);
}

.header .logo img {
  max-height: 50px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 32px;
  font-weight: 300;
  color: var(--color-secondary);
  font-family: var(--font-secondary);
}

.header .logo h1 span {
  color: var(--color-primary);
  font-weight: 500;
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
  font-size: 16px;
  color: #55a67b;
  background: white;
  border: 2px solid #55a67b;
  padding: 8px 23px;
  border-radius: 6px;
  transition: 0.3s;
  font-family: #55a67b;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: var(--color-white);
  background: #55a67b;
}

@media (max-width: 1279px) {

  .header .btn-getstarted,
  .header .btn-getstarted:focus {
    margin-right: 50px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-white);
  border-bottom: 2px solid #55a67b;
}

.sticky .navbar .mobile-nav-toggle {
  top: 25px;
  visibility: visible;
}

.sticky .navbar .mobile-nav-bar {
  top: 22px;
  visibility: hidden;
}

@media (max-width: 425px) {
  .header .logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #55a67b;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    transform: scaleX(0.7);
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #55a67b;
  }

  .navbar .dropdown a:hover:before,
  .navbar .dropdown:hover>a:before,
  .navbar .dropdown .active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #55a67b;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar .dropdown a:hover,
  .navbar .dropdown .active,
  .navbar .dropdown .active:focus,
  .navbar .dropdown:hover>a {
    color: #55a67b;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    transition: 0.3s;
    border: 1px solid #000;
  }



  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    color: #000;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #55a67b;
    background: none;
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .nav-link {
    padding: 0px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 70px);
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 10px 0;
    margin: 0;
    background: rgba(var(--color-primary-rgb), 0.8);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #000;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 0px 0;
    margin: 0px 15px;
    transition: all 0.5s ease-in-out;
    background: transparent;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-toggle {
    display: block !important;
    color: var(--color-secondary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    top: 60px;
    z-index: 9999;
    right: 20px;
    visibility: hidden;
  }

  .mobile-nav-toggle.bi-x {
    color: var(--color-white);
  }

  .mobile-nav-active {
    overflow: hidden;
    z-index: 9995;
    position: relative;
  }

  .mobile-nav-active .navbar {
    left: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(85, 166, 123, 0.8);
    z-index: 9996;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  text-align: center;
  padding-bottom: 80px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 100px;
  font-weight: bold;
  line-height: 110px;
  color: var(--color-primary);
  letter-spacing: 17px;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 10px;
}

#hero .play-btn {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  background: radial-gradient(var(--color-primary) 50%, rgba(var(--color-primary-rgb), 0.4) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

#hero .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(var(--color-primary-rgb), 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

#hero .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 798px) {
  #hero {
    height: 55vh;
  }

  #hero h1 {
    font-size: 85px;
    line-height: 90px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  #hero {
    height: 45vh;
  }

  #hero h1 {
    font-size: 55px;
    line-height: 60px;
    letter-spacing: 10px;
  }

  #hero h2 {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  #hero .container {
    padding-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  #hero .container {
    padding-bottom: 50px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services {
  padding: 15px 0;
}

.featured-services h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--color-secondary);
  text-align: center;
}

.featured-services .service-item2 {
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  height: 100%;
  border: 3px solid white;
}

.featured-services .service-item2 .icon {
  margin-bottom: 10px;
}

.featured-services .service-item2 .icon i {
  color: #55a67b;
  font-size: 36px;
  transition: 0.3s;
}

.featured-services .service-item2 h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 22px;
}

.featured-services .service-item2 h4 a {
  color: #000;
  transition: ease-in-out 0.3s;
}

.featured-services .service-item2 p {
  line-height: 20px;
  font-size: 13px;
  text-align: justify;
  margin-bottom: 0;
}

.featured-services .service-item2:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.2);
  border-radius: 10px;
}

.featured-services .service-item2:hover h4 a {
  color: #55a67b;
}

@media (max-width: 425px) {
  .featured-services h2 {
    font-size: 33px;
    margin-bottom: 0px;
  }

  .featured-services .service-item2 {
    padding: 10px;
  }
}

/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services .service-item {
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  height: 100%;
  border: 3px solid white;
}

.featured-services .service-item .icon {
  margin-bottom: 10px;
}

.featured-services .service-item .icon i {
  color: #b55043;
  font-size: 36px;
  transition: 0.3s;
}

.featured-services .service-item h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 22px;
}

.featured-services .service-item h4 a {
  color: #000;
  transition: ease-in-out 0.3s;
}

.featured-services .service-item p {
  line-height: 20px;
  font-size: 13px;
  text-align: justify;
  margin-bottom: 0;
}

.featured-services .service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.2);
  border-radius: 10px;
}

.featured-services .service-item:hover h4 a {
  color: #b55043;
}

@media (max-width: 425px) {
  .featured-services .service-item {
    padding: 10px;
  }
}

/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services .container .featured-p {
  text-align: center;
  margin-bottom: 20px;
}

.featured-services .service-item1 {
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  height: 100%;
  border: 3px solid white;
}

.featured-services .service-item1 .icon {
  margin-bottom: 10px;
}

.featured-services .service-item1 .icon i {
  color: #f5c350;
  font-size: 36px;
  transition: 0.3s;
}

.featured-services .service-item1 h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 22px;
}

.featured-services .service-item1 h4 a {
  color: #000;
  transition: ease-in-out 0.3s;
}

.featured-services .service-item1 p {
  line-height: 20px;
  text-align: justify;
  font-size: 13px;
  margin-bottom: 0;
}

.featured-services .service-item1:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.2);
  border-radius: 10px;
}

.featured-services .service-item1:hover h4 a {
  color: var(--color-primary);
}

@media (max-width: 425px) {
  .featured-services .service-item1 {
    padding: 10px;
  }

  .featured-services .container .featured-p {
    text-align: justify;
    font-size: 13px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .about-img {
  position: relative;
  margin: 60px 0 0 60px;
}

.about .about-img:before {
  position: absolute;
  inset: -60px 0 0 -60px;
  z-index: -1;
  content: "";
  background: url("../img/about-bg.png") top left;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .about .about-img {
    margin: 30px 0 0 30px;
  }

  .about .about-img:before {
    inset: -30px 0 0 -30px;
  }
}

.about h3 {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about h3 {
    font-size: 28px;
  }
}

.about .nav-pills {
  border-bottom: 1px solid rgba(var(--color-secondary-rgb), 0.2);
  margin-top: inherit;
}

.about .nav-pills li+li {
  margin-left: 40px;
}

.about .nav-link {
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-secondary);
  padding: 12px 0;
  margin-bottom: -2px;
  border-radius: 0;
  font-family: var(--font-secondary);
}

.about .nav-link.active {
  color: #000;
  background: none;
  border-bottom: 3px solid var(--color-primary);
}

@media (max-width: 575px) {
  .about .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 798px) {
  .about .img-fluid {
    max-width: 80%;
    height: auto;
  }

  .about .about-img {
    margin: 60px 0 0 20%;
  }
}


.about .tab-content p {
  font-size: 15px;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: var(--font-default);
  color: var(--color-secondary);
}

.about .tab-content ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--color-primary);
  line-height: 1;
  position: absolute;
  left: 0;
}

.about .tab-content ul {
  list-style: none;
  padding: 0;
}

.about .tab-content ul li {
  font-size: 15px;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: var(--font-default);
  color: var(--color-secondary);
  padding-left: 30px;
  position: relative;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  padding: 0px;
}

.section-features p {
  text-align: center;
  margin-bottom: 20px;
}

.section-features h2 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  color: var(--color-secondary);
}

.features .nav-tabs {
  border: 0;
  justify-content: center;
}

.features .tab-content .tab-pane .nav-tabs {
  border: 0;
}

.features .tab-content .tab-pane .granvillewan {
  border: 0;
  padding: 10px 10px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  height: 100%;
  margin: 0px;
}

.features .tab-content .tab-pane .granvillewan p {
  font-size: 12px;
  line-height: 0;
}

.features .tab-content .tab-pane .granvillewan h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 0 0;
  margin-bottom: .5em;
  color: var(--color-secondary);
}


.features .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.features .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.features .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.features .nav-link:hover {
  color: var(--color-primary);
}

.features .nav-link.active {
  transition: 0.3s;
  background: var(--color-primary) linear-gradient(rgba(var(--color-primary-rgb), 0.95), rgba(var(--color-primary-rgb), 0.6));
  border-color: var(--color-primary);
}

.features .nav-link.active h4 {
  color: var(--color-white);
}

.features .nav-link.active i {
  color: var(--color-white) !important;
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  color: var(--color-secondary);
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-bottom: 10px;
}

.features .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: var(--color-primary);
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 798px) {
  .features .tab-content img {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .features .tab-content .tab-pane .nav-tabs {
    margin-top: 10px;
  }

  .features .tab-content .tab-pane .granvillewan {
    padding: 10px 0px;
    margin: 0px;
  }

  .section-features h2 {
    font-size: 45px;
  }

  .section-features p {
    text-align: justify;
    padding: 5px;
  }

  .features .tab-content img {
    width: 85%;
    padding: 0px !important;
  }

  .features .tab-content .gwanSlides img {
    width: 100%;
    padding: 0px !important;
  }

  .features .tab-content .nav-tabs img {
    width: 100%;
    padding: 0px !important;
  }

  .features .tab-pane ul li {
    margin-top: 0px !important;
  }

  .features .tab-pane .mobtab li:first-child {
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .features .tab-content .tab-pane .nav-tabs {
    margin-top: 10px;
  }

  .features .tab-content .tab-pane .granvillewan {
    padding: 5px 5px;
    margin: 0px;
  }

  .section-features h2 {
    font-size: 45px;
  }

  .section-features p {
    text-align: justify;
    padding: 5px;
  }

  .features .tab-content img {
    width: 60%;
    padding: 0px !important;
  }

  .features .tab-content .gwanSlides img {
    width: 100%;
    padding: 0px !important;
  }

  .features .tab-content .nav-tabs img {
    width: 100%;
    padding: 0px !important;
  }

  .features .tab-pane ul li {
    margin-top: 0px !important;
  }

  .features .tab-pane .mobtab li:first-child {
    margin-top: 10px !important;
  }
}

/*--------------------------------------------------------------
# Features Section 2
--------------------------------------------------------------*/
.section-featuress h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-secondary);
}

.section-featuress p {
  text-align: center;
  margin-bottom: 20px;
}

.featuress .nav-tabs {
  border: 0;
  justify-content: center;
}

.featuress .tab-content .tab-pane .nav-tabs {
  border: 0;
}

.featuress .tab-content .tab-pane .granvilletwee {
  border: 0;
  padding: 10px 10px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  height: 100%;
  margin: 0px;
}

.featuress .tab-content .tab-pane .granvilletwee p {
  font-size: 12px;
  line-height: 0;
}

.featuress .tab-content .tab-pane .granvilletwee h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 0 0;
  margin-bottom: .5em;
  color: var(--color-secondary);
}

.featuress .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.featuress .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.featuress .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.featuress .nav-link:hover {
  color: #55a67b;
}

.featuress .nav-link.active {
  transition: 0.3s;
  background: #55a67b linear-gradient(rgba(85, 166, 123, 0.95), rgba(85, 166, 123, 0.6));
  border-color: #55a67b;
}

.featuress .nav-link.active h4 {
  color: var(--color-white);
}

.featuress .nav-link.active i {
  color: var(--color-white) !important;
}

.featuress .tab-content {
  margin-top: 30px;
}

.featuress .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.featuress .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  color: var(--color-secondary);
}

.featuress .tab-pane ul {
  list-style: none;
  padding: 0;
}

.featuress .tab-pane ul li {
  padding-bottom: 10px;
}

.featuress .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: #55a67b;
}

.featuress .tab-pane p:last-child {
  margin-bottom: 0;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 798px) {
  .featuress .tab-content img {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .featuress .tab-content .tab-pane .nav-tabs {
    margin-top: 10px;
  }

  .featuress .tab-content .tab-pane .granvilletwee {
    padding: 25px 5px;
    margin: 0px;
  }

  .section-featuress h2 {
    font-size: 45px;
  }

  .section-featuress p {
    text-align: justify;
    padding: 5px;
  }

  .featuress .tab-content img {
    width: 85%;
    padding: 0px !important;
  }

  .featuress .tab-content .gtweeSlides img {
    width: 100%;
    padding: 0px !important;
  }


  .featuress .tab-content .nav-tabs img {
    width: 100%;
    padding: 0px !important;
  }

  .featuress .tab-pane ul li {
    margin-top: 0px !important;
  }

  .featuress .tab-pane .mobtab li:first-child {
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .featuress .tab-content .tab-pane .nav-tabs {
    margin-top: 10px;
  }

  .featuress .tab-content .tab-pane .granvillewan {
    padding: 5px 5px;
    margin: 0px;
  }

  .section-featuress h2 {
    font-size: 45px;
  }

  .section-featuress p {
    text-align: justify;
    padding: 5px;
  }

  .featuress .tab-content img {
    width: 60%;
    padding: 0px !important;
  }

  .featuress .tab-content .gtweeSlides img {
    width: 100%;
    padding: 0px !important;
  }

  .featuress .tab-content .nav-tabs img {
    width: 100%;
    padding: 0px !important;
  }

  .featuress .tab-pane ul li {
    margin-top: 0px !important;
  }

  .featuress .tab-pane .mobtab li:first-child {
    margin-top: 10px !important;
  }
}

/*--------------------------------------------------------------
# Features Section 3
--------------------------------------------------------------*/
.section-featuresss h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-secondary);
}

.section-featuresss p {
  text-align: center;
  margin-bottom: 20px;
}

.featuresss .nav-tabs {
  border: 0;
  justify-content: center;
}

.featuresss .tab-content .tab-pane .nav-tabs {
  border: 0;
}

.featuresss .tab-content .tab-pane .granvillecrest {
  border: 0;
  padding: 10px 10px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  height: 100%;
  margin: 0px;
}

.featuresss .tab-content .tab-pane .granvillecrest p {
  font-size: 12px;
  line-height: 0;
}

.featuresss .tab-content .tab-pane .granvillecrest h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 0 0;
  margin-bottom: .5em;
  color: var(--color-secondary);
}

.featuresss .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.featuresss .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.featuresss .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  text-align: center;
  color: var(--color-secondary);
}

.featuresss .nav-link:hover {
  color: #b55043;
}

.featuresss .nav-link.active {
  transition: 0.3s;
  background: #b55043 linear-gradient(rgba(181, 80, 67, 0.95), rgba(181, 80, 67, 0.6));
  border-color: #b55043;
}

.featuresss .nav-link.active h4 {
  color: var(--color-white);
}

.featuresss .nav-link.active i {
  color: var(--color-white) !important;
}

.featuresss .tab-content {
  margin-top: 30px;
}

.featuresss .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.featuresss .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  color: var(--color-secondary);
}

.featuresss .tab-pane ul {
  list-style: none;
  padding: 0;
}

.featuresss .tab-pane ul li {
  padding-bottom: 10px;
}

.featuresss .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: #b55043;
}

.featuresss .tab-pane p:last-child {
  margin-bottom: 0;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media (max-width: 767px) {
  .featuresss .tab-content .tab-pane .nav-tabs {
    margin-top: 10px;
  }

  .featuresss .tab-content .tab-pane .granvillecrest {
    padding: 25px 5px;
    margin: 0px;
  }

  .section-featuresss h2 {
    font-size: 45px;
  }

  .section-featuresss p {
    text-align: justify;
    padding: 5px;
  }

  .featuresss .tab-content img {
    width: 80%;
    padding: 0px !important;
  }

  .featuresss .tab-content .crestSlides img {
    width: 100%;
    padding: 0px !important;
  }

  .featuresss .tab-content .nav-tabs img {
    width: 100%;
    padding: 0px !important;
  }

  .featuresss .tab-pane ul li {
    margin-top: 0px !important;
  }

  .featuresss .tab-pane .mobtab li:first-child {
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .featuresss .tab-content .tab-pane .nav-tabs {
    margin-top: 10px;
  }

  .featuresss .tab-content .tab-pane .granvillewan {
    padding: 5px 5px;
    margin: 0px;
  }

  .section-featuresss h2 {
    font-size: 45px;
  }

  .section-featuresss p {
    text-align: justify;
    padding: 5px;
  }

  .featuresss .tab-content img {
    width: 60%;
    padding: 0px !important;
  }

  .featuresss .tab-content .crestSlides img {
    width: 100%;
    padding: 0px !important;
  }

  .featuresss .tab-content .nav-tabs img {
    width: 100%;
    padding: 0px !important;
  }

  .featuresss .tab-pane .mobtab li {
    margin-top: 0px !important;
  }

  .featuresss .tab-pane .mobtab li:first-child {
    margin-top: 10px !important;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: var(--color-secondary);
  font-size: 14px;
}

.footer .footer-content {
  background: var(--color-secondary);
  padding: 60px 0 30px 0;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
  color: var(--color-primary);
}

.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-default);
  color: var(--color-white);
}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.footer .footer-content h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: var(--color-primary);
  bottom: 0;
  left: 0;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul i {
  padding-right: 2px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 1;
}

.footer .footer-content .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: rgba(var(--color-white-rgb), 0.7);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-content .footer-links ul a:hover {
  color: var(--color-white);
}

.footer .footer-content .footer-newsletter form {
  margin-top: 30px;
  background: var(--color-white);
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

.footer .footer-content .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

.footer .footer-content .footer-newsletter form input[type=email]:focus-visible {
  outline: none;
}

.footer .footer-content .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: var(--color-primary);
  color: var(--color-white);
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

.footer .footer-content .footer-newsletter form input[type=submit]:hover {
  background: rgba(var(--color-primary-rgb), 0.85);
}

.footer .footer-legal {
  padding: 30px 0;
  background: #55a67b;
}

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: var(--color-white);
}

.footer .footer-legal .credits a {
  color: var(--color-primary-light);
}

.footer .footer-legal .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(var(--color-white-rgb), 0.1);
  color: var(--color-secondary);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 10px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-legal .social-links a:hover {
  background: #f5c350;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients {
  padding: 30px 0 30px 0;
}

.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.carousel-container {
  border-radius: 15px;
  overflow: hidden;
  max-width: 65%;
  position: relative;
  box-shadow: 0 0 30px -20px #223344;
  margin: auto;
  z-index: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  width: 100%;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

@media (max-width: 425px) {
  .mySlides img {
    height: 170px;
  }
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }

  to {
    transform: scale(1) rotateY(0deg);
  }
}

@media (max-width: 767px) {
  .carousel-container {
    max-width: 100%;
    max-height: max-content;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .carousel-container {
    max-width: 90%;
    max-height: max-content;
  }
}

/*--------------------------------------------------------------
# g1 Amenities Carousel
--------------------------------------------------------------*/
.amenitiesgwan {
  border-radius: 15px;
  overflow: hidden;
  max-width: max-content;
  max-height: 420px;
  position: relative;
  box-shadow: 0 0 30px -20px #223344;
  margin: 40px 0px;
  z-index: 0;
}

/* Hide the images by default */
.gwanSlides {
  display: none;
}

.gwanSlides img {
  display: block;
  width: 100%;
}

.dot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }

  to {
    transform: scale(1) rotateY(0deg);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .amenitiesgwan {
    max-width: 60%;
    max-height: none;
    margin: 0px 135px;
  }
}

/*--------------------------------------------------------------
# g3 Amenities Carousel
--------------------------------------------------------------*/
.amenitiesgtwee {
  border-radius: 15px;
  overflow: hidden;
  max-width: max-content;
  max-height: 420px;
  position: relative;
  box-shadow: 0 0 30px -20px #223344;
  margin: 40px 0px;
  z-index: 0;
}

/* Hide the images by default */
.gtweeSlides {
  display: none;
}

.gtweeSlides img {
  display: block;
  width: 100%;
}

.gdot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

/* The dots/bullets/indicators */
.gdot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }

  to {
    transform: scale(1) rotateY(0deg);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .amenitiesgtwee {
    max-width: 60%;
    max-height: none;
    margin: 0px 135px;
  }
}

/*--------------------------------------------------------------
# crest Amenities Carousel
--------------------------------------------------------------*/
.amenitiescrest {
  border-radius: 15px;
  overflow: hidden;
  max-width: max-content;
  max-height: 420px;
  position: relative;
  box-shadow: 0 0 30px -20px #223344;
  margin: 40px 0px;
  z-index: 0;
}

/* Hide the images by default */
.crestSlides {
  display: none;
}

.crestSlides img {
  display: block;
  width: 100%;
}

.crestdot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

/* The dots/bullets/indicators */
.crestdot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }

  to {
    transform: scale(1) rotateY(0deg);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .amenitiescrest {
    max-width: 60%;
    max-height: none;
    margin: 0px 135px;
  }
}

/*--------------------------------------------------------------
# show available units
--------------------------------------------------------------*/
.features .tab-pane .avunits button {
  font-size: 15px;
  color: var(--color-secondary);
  background-color: #f5c350;
  border: 1px solid #f5c350;
  padding: 6px 20px;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: .25rem;
}

.features .tab-pane .avunits button:nth-child(2) {
  width: 42.6%;
  margin-top: -46.5px;
  margin-left: 58%;
}

.features .tab-pane .avunits button a{
  color: #000;
}

.features .tab-pane .avunits button:hover {
  background-color: transparent;
  border: 1px solid #f5c350;
}

.features .tab-pane .avunits .mobtab{
  display: none;
}

/*-g3 available unit-*/
.featuress .tab-pane .avunits button {
  font-size: 15px;
  color: var(--color-secondary);
  background-color: #55a67b;
  border: 1px solid #55a67b;
  padding: 6px 20px;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: .25rem;
}

.featuress .tab-pane .avunits button:nth-child(2) {
  width: 42.6%;
  margin-top: -46.5px;
  margin-left: 58%;
}

.featuress .tab-pane .avunits button a{
  color: #000;
}

.featuress .tab-pane .avunits button:hover {
  background-color: transparent;
  border: 1px solid #55a67b;
}

.featuress .tab-pane .avunits .mobtab{
  display: none;
}

/*-crest available unit-*/
.featuresss .tab-pane .avunits button {
  font-size: 15px;
  color: #fff;
  background-color: #b55043;
  border: 1px solid #b55043;
  padding: 6px 20px;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: .25rem;
}

.featuresss .tab-pane .avunits button:nth-child(2) {
  width: 42.6%;
  margin-top: -46.5px;
  margin-left: 58%;
}

.featuresss .tab-pane .avunits button a{
  color: #000;
}

.featuresss .tab-pane .avunits button:hover {
  background-color: transparent;
  border: 1px solid #b55043;
  color: #000;
}

.featuresss .tab-pane .avunits .mobtab{
  display: none;
}

/*---*/
table {
  display: none;
}

th,
td {
  text-align: center;
  border: 1px solid #000;
  width: 5%;
}

@media (max-width:425px) {
  .features .tab-pane .avunits .desktop{
    display: none;
  }

  .features .tab-pane .avunits .mobtab{
    display: block;
    font-size: 13px;
  }

  .features .tab-pane .avunits button:nth-child(2) {
    width: 41.6%;
    margin-top: -43.5px;
    margin-left: 58%;
  }

  /*---*/
  .featuress .tab-pane .avunits .desktop{
    display: none;
  }

  .featuress .tab-pane .avunits .mobtab{
    display: block;
    font-size: 13px;
  }

  .featuress .tab-pane .avunits button:nth-child(2) {
    width: 41.6%;
    margin-top: -43.5px;
    margin-left: 58%;
  }

  /*---*/
  .featuresss .tab-pane .avunits .desktop{
    display: none;
  }

  .featuresss .tab-pane .avunits .mobtab{
    display: block;
    font-size: 13px;
  }

  .featuresss .tab-pane .avunits button:nth-child(2) {
    width: 41.6%;
    margin-top: -43.5px;
    margin-left: 58%;
  }

  th,
  td {
    font-size: 11px;
  }
}

@media (min-width:768px) and (max-width: 990px) {
  .features .tab-pane .avunits .desktop{
    display: none;
  }

  .features .tab-pane .avunits .mobtab{
    display: block;
    font-size: 15px;
  }

  .features .tab-pane .avunits button:nth-child(2) {
    width: 34.6%;
    margin-top: -46.5px;
    margin-left: 41%;
  }

  /*--*/
  .featuress .tab-pane .avunits .desktop{
    display: none;
  }

  .featuress .tab-pane .avunits .mobtab{
    display: block;
    font-size: 15px;
  }
  .featuress .tab-pane .avunits button:nth-child(2) {
    width: 34.6%;
    margin-top: -46.5px;
    margin-left: 41%;
  }

  /*--*/
  .featuresss .tab-pane .avunits .desktop{
    display: none;
  }

  .featuresss .tab-pane .avunits .mobtab{
    display: block;
    font-size: 15px;
  }
  .featuresss .tab-pane .avunits button:nth-child(2) {
    width: 34.6%;
    margin-top: -46.5px;
    margin-left: 41%;
  }

  th,
  td {
    font-size: 15px;
  }
}

/*--------------------------------------------------------------
# floor plan
--------------------------------------------------------------*/
.nosel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.img-enlarged__cont {
  width: 100%;
  height: 0px;
  opacity: 0;
  font-family: Helvetica, sans-serif;
  cursor: zoom-out;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.img-enlarged__cont.open {
  height: 100%;
  opacity: 1;

  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.img-enlarged {
  max-width: 90%;
  max-height: 80%;
  display: block;
  margin: auto !important;

  position: relative;
  top: 10%;
  bottom: 10%;
}

.img-enlarged__nav.next::after {
  content: ">";
  font-size: 40px;
  font-family: monospace;
  color: #fff;
  position: absolute;
  right: 27%;
  top: 49%;
}

.img-enlarged__nav.prev::after {
  content: "<";
  font-size: 40px;
  font-family: monospace;
  color: #fff;
  position: absolute;
  left: 27%;
  top: 49%;
}


.gallery img {
  cursor: pointer;
  margin: 65px 0px 15px 0;
}


.img-enlarged__nav {
  cursor: pointer;
  z-index: 999;
  text-align: center;
  height: 100%;
  width: 3%;
  vertical-align: middle;
  transition: 0.3s width, 0.2s background;
}

.img-enlarged__nav:hover {
  width: 3%;
  transition: 0.3s width, 0.2s background;
}

.img-enlarged__nav:active {
  width: 3%;
  transition: 0.1s width;
}

.img-enlarged__nav span {
  font-size: 25px;
  color: #fff;
  height: 20px;
  display: inline-block;
}

.img-enlarged__nav.prev {
  position: absolute;
  top: 0;
  left: 0;
}

.img-enlarged__nav.next {
  position: absolute;
  top: 0;
  right: 0;
}


@media (max-width:425px) {
  .gallery img {
    margin: 20px 0px;
  }

  .img-enlarged {
    top: 30%;
  }

  .img-enlarged__nav.next::after {
    font-size: 26px;
    right: 0%;
    top: 45%;
  }

  .img-enlarged__nav.prev::after {
    font-size: 26px;
    left: 0%;
    top: 45%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .gallery img {
    margin: 0px 0px;
  }

  .img-enlarged {
    top: 20%;
  }

  .img-enlarged__nav.next::after {
    font-size: 50px;
    right: 10%;
    top: 45%;
  }

  .img-enlarged__nav.prev::after {
    font-size: 50px;
    left: 10%;
    top: 45%;
  }
}

/*--*/
.modal-backdrop {
  width: 0 !important;
  height: 0 !important;  
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  background-color: #1A654C;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #fff;
}

.btn-secondary:hover {
  color: #1A654C;
  background-color: transparent;
  border-color: #1A654C;
}

.btn-secondary {
  color: #fff;
  background-color: #1A654C;
  border-color: #1A654C;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}